
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* outline: 1px solid orange; */
}
.container {background-color: rgb(94, 94, 94);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
}
.boxes{
    display: flex;
    width: 302px;
    height: 300px;
    gap: 1px;
    flex-wrap: wrap;
}
button{
height: 100px;
width:100px;
background-color: teal;
border: 1px solid black;
color: white;
cursor: pointer;
font-size: 1.5rem;
transition: background 0.5s;
}
button:hover{
    background: rgb(51, 51, 51);
}
#reset {
height: 50px;
}
h1{
color:aquamarine;
font-size: 3rem;
}
